<h1>About</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">John Ezzard never tired of telling stories</h3>
  </div>
  <div class="panel-body">
		<p>John has always been the sort of person who easily finds himself in interesting and unusual situations - searching for adventure and open to making new friends.</p>
		<p>If you’re visiting this site, then chances are pretty high that John made a strong impression, whether you knew him for decades or only ever met him briefly. This site has been created to compile the various John Ezzard experiences we have tucked away in our memories: the funny, the wild, and the down to earth. Feel free to add yours no matter how outrageous, over the top, or tame!</p>
		<p><strong>Important note:</strong> This is meant to celebrate John's life and his spirit living on through those who met him, so please do not reference his untimely absence from our lives. We can better honor his example in the future by learning from John’s incredible ‘joie de vivre’ (exaltation of spirit).</p>
  </div>
</div>