<h1>About</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">John loved telling stories</h3>
  </div>
  <div class="panel-body">
		<p>John was also the sort of person that would easily find himself in interesting and unusual situations. Always curious and looking for adventure.</p>
		<p>The chances are that he left a strong first impression on you after meeting him only briefly. And also that you have several or many stories of John whether funny, wild, or down to earth. This site is intended to be a compilation of the various experiences and tales you have of John. Feel free to add them no matter how outrageous, over the top, or tame!</p>
		<p><strong>Important note:</strong> This is meant to celebrate John's life and his spirit as it lives on, so please do not mention his death or absence.</p>


  </div>
</div>