<h1>Add a new story<h1>

<form action="<%= stories_url %>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
	
	<label for="story_title">Title:</label>
	<input type="text" name="story[title]" id="story_title" value ="<%= @story.title%>">
	<br>
	<label for="story_body">Body:</label>
	<textarea name="story[body]" id="story_body" value ="<%= @story.body%>"></textarea>

	<p><input type="submit" value="Add Story"></p>
</form>